<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<!-- 内容	start -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<div align="right">
						<a href="logout">退出</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3 column">
				<div class="panel-group" id="panel-592189">
					<div class="panel panel-default">
						<div class="panel-heading">
							 <a class="panel-title" data-toggle="collapse" data-parent="#panel-592189" href="#panel-element-988436">用户管理</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 column">
				<div class="tabbable" id="tabs-425707">
					<ul class="nav nav-tabs">
						<li class="active">
							 <a href="#panel-52588" data-toggle="tab">首页</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-52588">
							<p style="padding: 50px 50px 50px 50px;">欢迎使用！</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容	end -->

	<!-- javascript	strat -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
	<!-- javascript	end -->
</body>
</html>