<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>error</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<!-- 内容	start -->
	<div align="center" style="padding-top: 10%">
		<h3>
			Session失效
		</h3>
		<a href="login">重新登录</a>
	</div>
	<!-- 内容	end -->

	<!-- javascript	strat -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
	<!-- javascript	end -->
</body>
</html>